html, body {
  background-color: floralwhite;
}

.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: large; 
}

.col-sm-2 {
  background-color:lightpink;
  min-height: 100vh !important;
  padding-left: 20px; /* Отступ для текста меню от края */
}

.col-sm-10 {
  background-color:floralwhite;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
}

.sidebar-nav a {
  color: cornsilk;
  text-decoration:underline;
  text-decoration-style: dotted;
}

.sidebar-nav a:hover {
  color: hotpink;
  text-decoration:underline;
}

.col-sm-10 a {
  color:hotpink;
  text-decoration: none;
}

.col-sm-10 a:hover {
  color:deeppink;
  text-decoration: underline;
}

.col-sm-10 .pagination {
  text-align: center;
  width: 100%;
  display: block;
}